[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
scipy = "*"
numpy = "*"
astropy = "*"
pandas = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
flake8 = "*"
pycodestyle-magic = "*"
geopandas = "*"
shapely = "*"
contextily = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
